
  
  
//   .allitems {
//     padding-left: 4vh;
//     font-size: 16px;
//     font-family: 'Rubik', sans-serif;
//     flex-wrap: nowrap;
//     color: black;
//   }
  
//   .allitems:hover {
//     color: #104CBA;
//     text-decoration: none;
//   }
  
//   .buttoncall {
//     width: 8vw;
//     height: 6vh;
//     margin-right: 15vw;
//     font-family: 'Nunito', sans-serif;
//     border-radius: 5px;
//     background-color: rgb(16, 76, 186);
//     font-size: 16px;
//     padding: 20px 15px;
//     color: #fff;
//     font-weight: 600;
//     line-height: 1;
//     display: inline-block;
//     border: 0px solid rgba(255, 255, 255, 0);
//   }
  

.logodesk{
    text-decoration: none;
  }


  .logodesktop{
    display: flex;
    justify-content: space-around;
  }

  .logodesk:hover{
    text-decoration: none;
  }
  
  
  .linkdesktop{
    text-decoration: none;
    margin: 10px;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.2s;
  }
  
  .buttondesk {
    border: 0;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }
  
  .navbardesktop {
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    background: rgb(16,76,186);
    background: linear-gradient(90deg, rgba(16,76,186,1) 21%, rgba(72,89,143,1) 28%, rgba(70,91,146,1) 100%, rgba(55,161,228,1) 100%);
    

  }
  
  .navbardesktop .logodesktop i {
    color: #0aa5ff;
    font-size: 22px;
  }
  
  .navbardesktop .logodesktop a {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-left: 12px;
  }
  
  .menudesktop {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-right: 10vw;
  }
  
  .menudesktop-links {
    display: flex;
    gap: 24px;
    border-right: 1px solid white;
    padding-inline: 24px;
  }
  
  .menudesktop-links .linkdesktop {
    font-weight: 500;
    color: white;
    padding: 8px 16px;
  }
  .menudesktop-links .linkdesktop:hover {
    color:  #475A91;
    text-decoration: none;
    background-color: white;
  }
  .log-in {
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.2s;
  }
  .log-in:hover {
    color:  #475A91;
    text-decoration: none;
    background-color: white;  
    border: 2px solid white;
    transition: 0.2s;
  }
  
  .menudesktop-btn {
    font-size: 32px;
    color: white;
    display: none;
    cursor: pointer;
  }

  .nav-services{
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    color: #475A91;
    margin-top: 10px;
    text-align: center;
    height: 10vh;
  }

  .nav-services:hover{
    text-decoration: none;
    color: #01080b;
  }


  @media (max-width: 1130px) {
    .menudesktop{
        padding-right: 10px;
    }
  }