@import url(../sass/fontes.scss);

*{
    margin: 0;
    padding: 0;
}

.header-content{
    height: auto;
    width: 100vw;    
    .navbar-office{
        height: 10vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  }

  @media (max-width: 1000px) {
    .navbar-nav {
      display: none;
    }
  }

.itens-middle{
    padding-left: 20vh;
}