.navbardesktopabout {
  height: 90px;
  width: auto;
  overflow-x: hidden;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  background: rgb(16, 76, 186);
  background: linear-gradient(47deg, rgba(16, 76, 186, 1) 32%, rgba(15, 123, 179, 1) 50%);
}


.linkdesktop-about {
  text-decoration: none;
  font-weight: 500;
  margin: 10px;
  color: white;
  background-color: rgba(16, 75, 186, 0);
  border-radius: 10px;
  padding: 8px 16px;
  transition: 0.8s;
}

.linkdesktop-about:hover {
  color: rgba(16, 76, 186, 1);
  font-weight: 500;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgba(16, 76, 186, 1);
  box-shadow: 10px 10px 10px rgb(193, 211, 245);
  transition: 0.8s;
}

.menudesktop-links-about {
  display: flex;
  gap: 24px;
  border-right: 3px solid rgb(255, 255, 255);
  padding-inline: 24px;
}

.menudesktop-links-about:hover {
  color: rgba(16, 76, 186, 1);
}


.log-in-about {
  font-weight: 500;
  padding: 12px 22px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  transition: 2s;
}

.log-in-about:hover {
  color: #104CBA;
  font-weight: 500;
  text-decoration: none;
  background-color: white;
  border: 2px solid white;
  box-shadow: 5px 5px 5px rgb(200, 200, 200);
  transition: 0.8s;

}




.containerAB {
  height: auto;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(230deg, rgba(255, 255, 255, 1) 36%, rgba(16, 76, 186, 1) 46%);
}

.container-about {
  height: auto;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap-reverse;
}

.h1-about {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

.p-about {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: large;
  text-align: center;
}

.texts-about {
  width: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infra-ultra {
  background-color: #fafafa;
}

.container-infra {
  background-color: #fafafa;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



.h1-infra {
  color: rgba(15, 123, 179, 1);
  text-align: center;
}

.p-infra{
  width: 40vw;
  font-weight: 500;
  color: rgba(15, 123, 179, 1);
  text-align: center;
}

.dataimg{
  width: 45vh;
  border-radius: 10px;
  box-shadow: 15px 15px 15px rgb(193, 211, 245);
}

@media (max-width: 1000px) {
  .navbardesktopabout {
    display: none;
  }

  .logo-about{
    width: auto;
    margin-top: 30px;
  }
  .p-infra{
    height: auto;
    width: 85vw;
  }
  .p-about{
    margin-bottom: 40px;
  }
  }


@media (max-width: 1390px) {
  .menudesktop {
    padding-right: 20px;
    gap: 15px;
    margin: 1px;
  }

  .menudesktop-links-about {
    gap: 3px;
    margin: 1px;
  }
}

@media (max-width: 1054px) {
  .menudesktop {
    padding-right: 5px;
    gap: 1px;
    margin: 1px;
  }

  .menudesktop-links-about {
    gap: 0px;
    margin: 1px;
    padding-right: 0px;
  }
}

@media (max-width: 750px){
.p-infra{
  height: auto;
  width: 85vw;
}
}

@media (max-width: 473px) {
  .spanUltra {
    display: none;
  }

.container-about{
  height: auto;
  
}

  .p-about{
    margin-bottom: 40px;
    font-size: 1rem;
  }

  .h1-about{
    font-size: 2rem;
  }

  .h1-infra, .p-infra{
    font-size: 20px;
  }

  .logo-white{
    width: 45vw;
    height: auto;
  }
  .dataimg{
    width: 60vw;
  }
  .logo-about{
    height: 90vw;
  }
  }
