@import '../home/services.scss';


.containerAB {
  min-height: 85vh;
  height: auto;
  width : 100%;
  background-image   : url('../images/Fundo\ sobre\ 2.jpg');
  background-repeat  : no-repeat;
  background-position: center top;
  background-repeat  : no-repeat;
  background-size    : cover;
  display        : flex;
  flex-direction : column;
  justify-content: space-evenly;
  align-content  : center;
  flex-wrap      : wrap-reverse;
}


.h1-about {
  width      : auto;
  font-size  : 2.0rem;
  color      : #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align : center;
}

.p-about {
  height     : auto;
  width      : 65%;
  color      : #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size  : 1.4rem;
  text-align : center;
}

.texts-about {
  margin-top: 14vh;
  width : 50vw;
  height: auto;
    // background-color: #43b5eea5;
  background     : rgba(16, 75, 186, 0.67);
  background     : linear-gradient(47deg, rgba(16, 75, 186, 0.698) 32%, rgba(15, 124, 179, 0.693) 50%);
  padding        : 3vh;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  border-radius  : 12px;
  // box-shadow     : 16px 16px 16px #43b5ee;
  box-shadow: 0px 10px 18px 7px #43b5ee
}


.segments-container2{
  background-color: #fafafa;
  height          : auto;
  width           : 100%;
  display         : flex;
  flex-wrap       : wrap;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;

  .box-icons2{
    min-height     : 30vh;
    height         : auto;
    width          : 45vw;
    display        : flex;
    justify-content: center;
    align-items    : flex-start;
    flex-direction : row;
    flex-wrap      : wrap;
    gap            : 20px 55px;
  }

  .icon-2{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    color          : rgba(16,76,186,1);
    gap            : 20px;
    font-family    : 'Rubik', sans-serif;
    font-weight    : 500;
  }
}

.infra-ultra {
  min-height: 80vh;
  height           :auto;
  width            : 100%;
  background       : rgb(21,92,182);
  background       : linear-gradient(180deg, rgba(21,92,182,1) 56%, rgba(52,130,210,1) 67%, rgba(69,151,225,1) 86%, rgba(85,172,243,1) 92%);
  background-repeat: no-repeat;
    // background-color: #fafafa;
  background-attachment: fixed;
  background-position  : center;
  background-size      : cover;
  display              : flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.container-infra {
  height         : auto;
  width          : 50%;
  display        : flex;
  flex-direction : row;
  justify-content: space-around;
  align-items    : center;
  align-content  : center;
  flex-wrap      : wrap-reverse;
}

.h1-infra {
  font-family: FontBold;
    // color: rgb(15, 123, 179);
  color         : #fafafa;
  font-weight   : 600;
  letter-spacing: 3px;
  text-align    : center;
  font-size     : 2.0rem;
}

.p-infra{
  font-family: 'Noto Sans', sans-serif;
  font-size  : 1.4rem;
  width      : 40vw;
  font-weight: 500;
    // color: rgb(63, 61, 61);
  color     : #fafafa;
  text-align: center;
}

.dataimg{
  height       : 50vh;
  width        : 50%;
  border-radius: 10px;
    // box-shadow: 15px 15px 15px rgb(193, 211, 245);
}

.text-infra{
  width          : auto;
  height         : 52vh;
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
  align-items    : center;
  border-radius  : 12px;
  // margin-left: 20vh;
    // box-shadow: 16px 16px 16px #dddddd;
}

.imginfra{
  width              : 50%;
  height             : 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image   : url('../../images/download.jpg');
  // background-repeat  : no-repeat;
  // background-position: center center;
  // background-attachment: fixed;
  // background-size: cover;
}

.img-servidor{
    height: 50vh;
    width: auto;
    padding: 8px;
    border: 2px solid white;
    border-radius: 6px;
    
    box-shadow: 0px 7px 18px 7px #ffffffae;
}

.vantagenscontainer{
  background           : rgb(16,76,186);
    background           : linear-gradient(120deg, rgba(16,76,186,1) 43%, rgba(15,123,179,1) 64%);
  width           : 100%;
  height          : auto;
  padding         : 20px;
  display         : flex;
  align-items     : flex-start;
  justify-content : center;
  flex-wrap       : wrap;
  overflow        : hidden;
  overflow-x      : hidden;
  
}

.h5-vantagens{
  color: #fafafa !important;
}

.h1-vantagens{
  text-align      : center;
  color           : #fafafa;
  background-color: #2e77ff00;
  padding-top     : 1vh;
  font-family     : FontBold;
  font-size       : 2.4rem;
}

.itens-container{
  height         : auto;
  width          : 80vw;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-wrap      : wrap;
  gap            : 40px 105px;
}

.quality{
  width          : 20vw;
  height         : auto;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: space-evenly;
}

.h5-quality,.p-quality{
  font-family: 'Noto Sans', sans-serif;
  text-align : center;
  color      : #fafafa;
}

.h5-quality{
  font-weight: bold;
  color      : #fafafa;
}

.p-quality{
  font-weight: 500;
  width      : 20vw;
}

.logo-white{
  padding-bottom: 3rem;
}

.buttonctn{
  height         : auto;
  width          : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding-top    : 4vh;
}

.call-action2{
  height : 8vh;
  width  : auto;
  padding: 15px;
    // background-color: #104CBA;
  background-color: yellow;
    // color: #fafafa;
  color : black;
  border: 2px solid yellow;
    // border: 2px solid #104CBA;
  border-radius: 20px;
    // box-shadow: 4px 8px 10px #43b5ee;
  box-shadow : 4px 8px 10px yellow;
  font-size  : 1.15rem;
  font-weight: bolder;
  font-family: 'Nunito', sans-serif;

  &:hover{
  color          : #104CBA;
  font-weight    : 700;
  text-decoration: none;
    // background-color: #fafafa;
  border    : 2px solid yellow;
  box-shadow: 5px 5px 5px rgb(217, 255, 0);

}
}


@media (max-width: 1390px) {
  .menudesktop {
    padding-right: 20px;
    gap          : 15px;
    margin       : 1px;
  }
  
  .menudesktop-links-about {
    gap   : 3px;
    margin: 1px;
  }
}

@media (max-width: 1200px){
  .img-servidor{
    height: 40vh;
    
  }
}

@media (max-width: 1005px){
  .img-servidor{
    height: 30vh;
    
  }

  .text-infra{
    height: auto;
  }
}

@media (max-width: 1054px) {
  
  .menudesktop {
    padding-right: 5px;
    gap          : 1px;
    margin       : 1px;
  }
  
  .text-infra{
    height: auto !important;
  }

  .infra-ultra{
    padding-top: 8vh;
    padding-bottom: 8vh;
  }

  .menudesktop{
    display: none;
  }
  
  .menudesktop-links-about {
    gap          : 0px;
    margin       : 1px;
    padding-right: 0px;
  }
  
  .itens-container{
    width: 75%;
    gap  : 40px 90px;}
    
    .h5-vantagens{
      width: 70vw;
    }
    
    .p-quality{height: 16vh;}
    
    .quality{
      width : 25vw;
      height: auto;
    }
    
    
    
  }
  
  
@media (max-width: 1000px) {
    .navbardesktopabout {
      display: none;
    }
  
    .logo-about{
      width     : auto;
      margin-top: 30px;
    }
    .p-infra{
      height : auto;
      width  : auto;
      padding: 30px;
    }
    .p-about{
      margin-bottom: 40px;
    }

    .buttonctn{
      padding-top: 0;
    }

    .infra-ultra{
      height: auto;
    }

    .imginfra{
      height: auto;
    }
    }
  
@media (max-width: 1000px) {
    .logo-white{
    height        : auto;
    width         : 20vw;
    padding-bottom: 1rem!important;
}
.h1-about {
  font-size: 1.8rem;
}

.p-about {
  font-size: 1.2rem;
}

.h1-infra {
  font-size: 1.8rem;
}
.p-infra{
  font-size: 1.2rem;
  width    : 45vw;
}

.call-action2{
  font-size: 1.0rem;
  height   : auto;
  padding  : 10px;
}

  }

@media (max-width: 784px){

  
.infra-ultra{
  flex-direction: column-reverse!important;
  justify-content: center !important;
}

.p-infra{
  width: auto;
}
}

@media (max-width: 550px){
  .h1-about {
    font-size: 1.6rem;
  }
  
  .p-about {
    font-size: 1.0rem;
    width    : 85%;
  }

  .h1-vantagens{
    font-size: 1.6rem;
  }

  .h1-infra{
    font-size: 1.1rem;
    width    : auto;
    height   : auto;
  }

  .p-infra{
    font-size: 0.9rem;
  }

  .h5-vantagens, .h5-quality{
    font-size: 1.0rem;
  }
  .p-quality{
    height: auto;
    width : 30vw;
  }
  }

@media (max-width: 473px) {
  .spanUltra {
    display: none;
  }

.texts-about {
  box-shadow: none;
  margin-top: 12vh;
}

  .container-about{
    min-height: 60vh;
    height    : 60vh;
  }

  .containerimgabout{
    height: 60vh;
  }

  .h1-about {
    font-size: 1.3rem;
  }
  
  .p-about {
    font-size: 0.8rem;
    width    : 85%;
  }

  .logo-white{
    width : 45vw;
    height: auto;
  }
  .dataimg{
    width: 60vw;
  }
  .logo-about{
    height: 90vw;
  }
  .text-infra{
    height: 65vh;
  }
  .p-infra{
    width: auto;
  }
  }
