
  .container-clients{
    height: auto !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .content-client{
    height: auto;
    width: 60%;
    margin-top: 5vh;
    margin-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 45px 25px;
  }
  
  .card-clients{
    height: 10vh;
    width: 10vw;
    border: 1px solid rgb(193, 211, 245);
    border-radius: 8px;
    box-shadow: 15px 15px 15px rgb(193, 211, 245);
  }

  .card1{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card2{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .card3{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card4{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card5{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card6{
    background-image: url('../clientes_logos/nike.png');
    background-color: #2A5581;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card7{
    background-image: url('../clientes_logos/nike.png');
    background-color: #F7F7F7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card8{
    background-image: url('../clientes_logos/nike.png');
    background-color: #F3F7FA;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card9{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card10{
    background-image: url('../clientes_logos/nike.png');
    background-color: #F6F7F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card11{
    background-image: url('../clientes_logos/nike.png');
    background-color: #F7F7F7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card12{
    background-image: url('../clientes_logos/nike.png');
    background-color: #F6F7F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card13{
    background-image: url('../clientes_logos/nike.png');
    background-color: #1C130E;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card14{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card15{
    background-image: url('../clientes_logos/nike.png');
    background-color: #F6F7F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card16{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card17{
    background-image: url('../clientes_logos/nike.png');
    background-color: #F6F7F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card18{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card19{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card20{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card21{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card22{
    background-image: url('../clientes_logos/nike.png');
    background-color: #F6F7F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card23{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card24{
    background-image: url('../clientes_logos/nike.png');
    background-color: #F7F7F7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card25{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card26{
    background-image: url('../clientes_logos/nike.png');
    background-color: #F6F7F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card27{
    background-image: url('../clientes_logos/nike.png');
    background-color: #F7F7F7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card28{
    background-image: url('../clientes_logos/nike.png');
    background-color: #F7F7F5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card29{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card30{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card31{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card32{
    background-image: url('../clientes_logos/nike.png');
    background-color: #F7F7F7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card33{
    background-image: url('../clientes_logos/nike.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  
  
  