.navbardesktopabout {
    height: 90px;
    width: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    background: rgb(16, 76, 186);
    background: linear-gradient(47deg, rgba(16, 76, 186, 1) 32%, rgba(15, 123, 179, 1) 50%);
  }
  
  
  .linkdesktop-about {
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
    color: white;
    background-color: rgba(16, 75, 186, 0);
    border-radius: 10px;
    padding: 8px 16px;
    transition: 0.8s;
  }
  
  .linkdesktop-about:hover {
    background-color: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid #fafafa;
    transition: 0.8s;
  }
  
  .menudesktop-links-about {
    display: flex;
    gap: 24px;
    border-right: 3px solid rgb(255, 255, 255);
    padding-inline: 24px;
  }
  
  .menudesktop-links-about:hover {
    color: rgba(16, 76, 186, 1);
  }
  
  
  .log-in-about {
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    transition: 2s;
  }
  
  .log-in-about:hover {
    background-color: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid white;
    transition: 0.8s;
  
  }
  
  .container-clients{
    height: auto !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .content-client{
    height: auto;
    width: 60%;
    margin-top: 5vh;
    margin-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 45px 25px;
  }
  
  .card-clients{
    height: 10vh;
    width: 10vw;
    border: 1px solid rgb(193, 211, 245);
    border-radius: 14px;
    box-shadow: 15px 15px 15px rgb(193, 211, 245);
  }

  .card1{
    background-image: url('../clientes_logos/triumph-logo.jpg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card2{
    background-image: url('../clientes_logos/gwm-logo.jpg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .card3{
    background-image: url('../clientes_logos/guima-logo.jpg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card4{
    background-image: url('../clientes_logos/cardiolaine-logo.jpg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card5{
    background-image: url('../clientes_logos/carnavalesco-logo.jpg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card6{
    background-image: url('../clientes_logos/CARRIER.png');
    background-color: #2A5581;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card7{
    background-image: url('../clientes_logos/castelli-logo.jpg');
    background-color: #F7F7F7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card8{
    background-image: url('../clientes_logos/cdhu-logo.jpg');
    background-color: #F3F7FA;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card9{
    background-image: url('../clientes_logos/cis-logo.jpeg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card10{
    background-image: url('../clientes_logos/cohab-logo.jpg');
    background-color: #F6F7F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card11{
    background-image: url('../clientes_logos/cwb-logo.jpg');
    background-color: #F7F7F7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card12{
    background-image: url('../clientes_logos/der-logo.jpg');
    background-color: #F6F7F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card13{
    background-image: url('../clientes_logos/edro-logo.jpg');
    background-color: #1C130E;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card14{
    background-image: url('../clientes_logos/frechaltore-logo.jpg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card15{
    background-image: url('../clientes_logos/fundação-logo.jpg');
    background-color: #F6F7F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card16{
    background-image: url('../clientes_logos/gclaims-logo.jpg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card17{
    background-image: url('../clientes_logos/habitação-logo.jpg');
    background-color: #F6F7F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card18{
    background-image: url('../clientes_logos/hmb-logo.jpg');
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card19{
    background-image: url('../clientes_logos/lbr.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card20{
    background-image: url('../clientes_logos/LEARDI.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card21{
    background-image: url('../clientes_logos/lindsay-logo.jpg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card22{
    background-image: url('../clientes_logos/metro-logo.jpg');
    background-color: #F6F7F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card23{
    background-image: url('../clientes_logos/MS&S.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card24{
    background-image: url('../clientes_logos/oligo-flora.jpg');
    background-color: #F7F7F7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card25{
    background-image: url('../clientes_logos/p&l-logo.jpg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card26{
    background-image: url('../clientes_logos/pref-infra-logo.jpg');
    background-color: #F6F7F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card27{
    background-image: url('../clientes_logos/qualitas-logo.jpg');
    background-color: #F7F7F7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card28{
    background-image: url('../clientes_logos/rcases-logo.jpg');
    background-color: #F7F7F5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card29{
    background-image: url('../clientes_logos/rego-logo.jpg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card30{
    background-image: url('../clientes_logos/SCOUT.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card31{
    background-image: url('../clientes_logos/seniors-logo.jpg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card32{
    background-image: url('../clientes_logos/urucun-logo.jpg');
    background-color: #F7F7F7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card33{
    background-image: url('../clientes_logos/uvr-logo.jpg');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card34{
    background-image: url('../clientes_logos/via-italia-logo.jpg');
    background-color: rgb(0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  


  @media (max-width: 1000px) {
    .navbardesktopabout {
      display: none;
    }
  
    .logo-about{
      width: auto;
      margin-top: 30px;
    }
    .p-infra{
      height: auto;
      width: 85vw;
    }
    .p-about{
      margin-bottom: 40px;
    }
    }
  
  
  @media (max-width: 1390px) {
    .menudesktop {
      padding-right: 20px;
      gap: 15px;
      margin: 1px;
    }
  
    .menudesktop-links-about {
      gap: 3px;
      margin: 1px;
    }
  }
  
  @media (max-width: 1054px) {
    .menudesktop {
      padding-right: 5px;
      gap: 1px;
      margin: 1px;
    }
  
    .menudesktop-links-about {
      gap: 0px;
      margin: 1px;
      padding-right: 0px;
    }
  }
  
  @media (max-width: 750px){
  .p-infra{
    height: auto;
    width: 85vw;
  }
  }
  
  @media (max-width: 473px) {
    .spanUltra {
      display: none;
    }
  
  .container-about{
    height: auto;
    
  }
  
    .p-about{
      margin-bottom: 40px;
      font-size: 1rem;
    }
  
    .h1-about{
      font-size: 2rem;
    }
  
    .h1-infra, .p-infra{
      font-size: 20px;
    }
  
    .logo-white{
      width: 45vw;
      height: auto;
    }
    .dataimg{
      width: 60vw;
    }
    .logo-about{
      height: 90vw;
    }
    }
  