@media (max-width: 2000px){
    .nav-mobile{
        display: none;
    }
}

@media (max-width:890px){
    .navbardesktop{
        display: none!important;
    }
    .navbardesktopabout{
        display: none!important;
    }
    .nav-mobile{
        display: block;
    }
    .menudesktop-links-about{
        display: none!important;
    }
}