
.Soluctions-container{
    height: auto;
    width: auto;
    background: rgb(16, 76, 186);
    background: linear-gradient(230deg, rgba(16, 76, 186, 1) 32%, rgba(15, 123, 179, 1) 50%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.p-solucion{
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color:  #fafafa;
}

.h1-solucion {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bolder;
  font-size: 60px;
  color: #1D71ED;
  
}
.text-soluctions{
    width:62vw;
    height: 28vh;
    border-left: 15px solid  #fafafa;
    color:  #fafafa;
}
.h3-soluction{
    height: auto;
    text-align: center; 
    color:  #fafafa; overflow: hidden;  
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold; font-size: 3rem;
    
}


// CARDS

.soluction {
    width: 80vw;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-x: hidden;
}

.soluction .card-sol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 25px;
    width: 450px;
    height: 50vh;
    background: rgb(16, 76, 186);
    background: linear-gradient(43deg, rgba(16, 76, 186, 1) 32%, rgba(15, 123, 179, 1) 50%);
    margin: 20px;
    border: 3px solid #fafafa;
    border-radius: 20px;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}

.soluction .card-sol img {
    transition: 0.5s;
    overflow-x: hidden;
}

.soluction .card-sol .h1-card-sol {
    font-size: 2rem;
    color:#fafafa;
    overflow-y: hidden;
}

.soluction .card-sol:hover .h1-card-sol{
    color: #1D71ED;
}

.w-white{
    color: white;
}

.w-blue{
    color: #2E78FF;
}

.soluction .card-sol:hover{
    .w-white{
        color: #2E78FF;
    }
    
}



.soluction .card-sol .content {
    padding: 20px;
    text-align: center;
    overflow-y: hidden;
    width: auto;
    height: auto;
    
}

.soluction .card-sol .content .p-solu {
    color: #fafafa;
    font-weight: 500;
    transition: 0.5s;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
}

.soluction .card-sol .content .a-soluction {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color:  #fafafa;
    color: #2E78FF;
    font-weight: 500;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
    overflow-x: hidden;
}

.soluction .card-sol:hover {
    background:  #fafafa;
    color: #2E78FF;
    margin-top: -30px;
    box-shadow: 2px 20px 25px  #fafafa;
    border-color:  #fafafa;
}

.a-soluction:hover{
    box-shadow: 0 0 5px #1D71ED,
                0 0 25px #1D71ED,
                0 0 50px #1D71ED,
                0 0 100px #1D71ED;
}



.soluction .card-sol:hover .content .p-solu {
    color: #1D71ED;
}

.soluction .card-sol:hover .content .a-soluction{
    color:white;
    background-color: #1D71ED;
}

.h1-card-sol{
    overflow: hidden;
}

@media screen and (max-width: 1170px){
.text-soluctions{
    width: 85vw;
    overflow-x: hidden;
}
}

@media screen and (max-width: 820px){
    .h1-solucion{
        font-size: 40px;
        overflow-x: hidden;
    }
    .text-soluctions{
        height: auto;
        overflow-x: hidden;
    }
    }

@media screen and (max-width: 550px){
    .h1-soluction{
        font-size: 30px;
    }

    .h3-soluctions{
        font-size: 30px;
    }

    .text-soluctions{
        height: auto;
    }
    }


@media screen and (max-width: 475px){

    .soluction .card-sol {
        height: auto;
    }
    .p-solu{
        width: auto;
        font-size: small;
    }

    .soluction .card-sol .h1-card-sol {
        font-size: 1.5rem;
        width: auto;
        height: auto;
        overflow-y: hidden;
    }

    .soluction .card-sol img {
        margin-bottom: 10vh;
    }

    .h1-soluction{
        font-size: 18px;
    }

    .h3-soluctions{
        font-size: 30px;
    }

    .text-soluctions{
        height: auto;
        width: auto;
        padding-left: 20px;
    }
    .ps-5{
        padding-left: 1rem!important;
    }
}

@media screen and (max-width: 374px){
    .soluction .card-sol {
        height: auto;
    }
}